Flask==0.10.1
future==0.14.3
itsdangerous==0.24
Jinja2==2.7.3
lxml==3.4.4
MarkupSafe==0.23
nltk==3.0.2
parserator==0.3.9
python-crfsuite==0.8.3
python-dateutil==2.4.2
python-documentcloud==1.0.1
simplejson==3.6.5
six==1.9.0
Werkzeug==0.10.4
