<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Document Parserator</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/foundation/5.3.3/css/foundation.min.css" media="screen" charset="utf-8">
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/foundation/5.3.3/js/foundation.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.8.2/underscore-min.js"></script>
    <script type="text/javascript" src="https://s3-us-west-2.amazonaws.com/parserated/pourover.js"></script>
    <script type="text/javascript">
       var $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
    </script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/backbone.js/1.1.2/backbone-min.js"></script>

  </head>
  <body>
        <div id="profiles"></div>

        <script id="profileTemplate" type="text/template">
              <li data-category=<%-name %> id="<%- cid %>" class="category button tiny"><span><%-name %></span></li>
        </script>

<style type="text/css">
  .token{
    border: 1px solid black;
  }
</style>

<div class="row">
<div class="large-7 medium-7 small-7 columns">
<ul class="button-group">
  <li><a id="tokens" class="button">Tokenize</a></li>
  <li><a id="xmlify" class="button">Json Dump</a></li>
</ul>

</div>
<div class="large-5 medium-5 small-5 columns">
<ul class="button-group">
  <li><a id="next" class="button">Next</a></li>
</ul>
</div>
</div>

<div class="row" id="holder">


<div class="large-10 medium-10 small-10 columns">
    <div id="DV-viewer-{{docid}}" class="DV-container"></div>
    <script src="//s3.amazonaws.com/s3.documentcloud.org/viewer/loader.js"></script>
</div>

<div id='right' class="large-2 columns">
<ul id='categories' class="stack button-group">
</ul>
</div>

</div>

    <script type="text/javascript" src="{{url_for('static', filename='js/dc-parserator.js')}}"></script>

    <script>
         DV.load("//www.documentcloud.org/documents/{{docid}}.js", {
          sidebar: false,
          pdf: false,
          width: $("body").width() * .4 ,
          height: $("body").height() * .9 ,
          container: "#DV-viewer-{{docid}}"
        });
        $(document).foundation();
    </script>


  </body>
</html>